#root {
  max-width: 1280px;
  display: flex;
  padding: 2rem;
  justify-content: center;
  flex: 1;
  align-self: start;
}

.stats {
  height: 5px;
  border-radius: 35px;
  &::-webkit-progress-value {
    background-color: var(--color);
    border-radius: 5px;
  }
  &::-webkit-progress-bar {
    background-color: #efefef;
    border-radius: 5px;
  }
}

.baseStatLabel {
  display: inline;
  margin: 4px;
}

.pokemonStatInfoContainer {
  display: flex;
  align-items: center;
}

.rightContainer {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: right;
}
